{% extends 'main/index.html' %}{% load widget_tweaks %}{% block content %}
<div class="registerPage">
    <div class="container" id="registerForm">
        <div class="col-md-9 mx-auto my-auto">
            <h1 class="formHeading mx-auto gy-2 py-3">Register</h1>
            <form action="" method="post">{% csrf_token %}
                <div class="gy-2">
                    {% render_field registerForm.email class="form-control my-4" placeholder="Email" %}
                    <div class="row">
                        <div class="col-md-6">
                            {% render_field registerForm.first_name class="form-control" placeholder="First Name" %}
                        </div>
                        <div class="col-md-6">
                            {% render_field registerForm.last_name class="form-control mt-md-0 mt-4" placeholder="Last Name" %}
                        </div>
                    </div>
                    {% render_field registerForm.username class="form-control my-4" placeholder="Username" %}
                    {% render_field registerForm.password1 class="form-control my-4" placeholder="Password" %}
                    {% render_field registerForm.password2 class="form-control my-4" placeholder="Confirm Password" %}
                    <input type="submit" value="Submit" class="btn btn-block btn-primary my-4">
                </div>
        </div>
        </form>
        <span class="col-md-8 mx-auto" class="loginRegisterInterlink">
            <p class="mx-auto loginRegisterInterlink">Part of the family?<a href="{% url 'login' %}"
                    class="primary">Login Now</a></p>
        </span>
        <div class="alert alert-warning mx-auto rounded-md" role="alert">
            <span class="text-capitalize">{{registerForm.errors}}</span>
        </div>
    </div>
</div>

</div>
{% endblock %}