{% extends 'main/index.html' %}{% load static %}{% block content %}
<div id="delete">
    <h1 class="heading">Delete Task</h1>
    <div class="col-md-8 mx-auto">
        <div class="card card-body bg-secondary">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row mx-auto my-2">
                    <p class="deleteWarning">Do you want to delete {{item}}?
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-6"><a class="btn-info btn btn-block my-2" href="{% url 'home'%}">Cancel</a></div>
                    <div class="col-md-6"><input class="btn-danger btn btn-block my-2" type="submit" name="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}