<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Task Deadline</th>
            <th scope="col">Task Notes</th>
            <th scope="col">Importance</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for i in taskInfo %}
        <tr>
            <td>{{i.task}}</td>
            <td>{{i.deadline}}</td>
            <td>{{i.notes}}</td>
            <td>{{i.importance}}</td>
            <td><a class="btn btn-primary btn-sm" href="task/delete/{{i.id}}/">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>