<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Task Deadline</th>
            <th class="hideOnMobile" scope="col">Task Notes</th>
            <th scope="col">Importance</th>
            <th class="hideOnTab" scope="col"></th>
            <th scope="col" class="hideOnMobile"></th>
        </tr>
    </thead>
    <tbody>
        {% for i in taskInfo %}
        <tr>
            <td>{{i.task}}</td>
            <td>{{i.deadline}}</td>
            <td class="hideOnMobile">{{i.notes}}</td>
            <td>{{i.importance}}</td>
            <td class="hideOnTab"><a class="btn btn-primary btn-sm" href="task/delete/{{i.id}}/">Delete</a></td>
            <td class="hideOnMobile"><a class="btn btn-success btn-sm" href="#">Completed</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>